parameters:
	apiTargetHosts:

	aws:
		s3:
			accessKeyId:
			secretAccessKey:
			bucket:
			region: 'ap-southeast-1'
	hipchat:
		apiKey:

database:
	dsn: 'mysql:host=localhost;dbname=**DB_NAME**'
	user: **USER_NAME**
	password: **PASSWORD**
	options:
		lazy: yes