parameters:
	lang: en

	secureRoutes: false

	gaCode:

	aws:
		s3:
			user: 'hq-error-monitoring-s3-errors'
			accessKeyId:
			secretAccessKey:
			bucket:
			region: 'ap-southeast-1'

	emailReporter:
		active: true
		sendEmailInDevelopment: false
		headers:
			from: exceptions@hotelquickly.com
			to: exceptions@hotelquickly.pagerduty.com
			subject: New exceptions

	hipchat:
		active: true
		apiKey:
		room: ErrorMonitoring
		sender: "Exception"