parameters:
	apiTargetHosts:
	database:
		default:
			dsn: 'mysql:host=localhost;dbname=hq_error_monitoring'
			user: root
			password: kopretina1

	aws:
		s3:
			accessKeyId:
			secretAccessKey:
			bucket:
			region: 'ap-southeast-1'
	hipchat:
		apiKey:
