{block title}Error list{/block}

{block css}
    {control css '/grid.css'}
{/block}

{block header_title}Error list{/block}

{block content}
    {snippet error-grid}
        {control errorGrid}
    {/snippet}
{/block}