{block title}Error list{/block}

{block css}
    {control css '/grid.css'}
{/block}

{block header_title}Error list{/block}

{block content}
    {snippet error-grid}
        <p class="last-update">Last update: {if $lastUpdate}{$lastUpdate|date:'j.n.Y H:i:s'}{else}N/A{/if}</p>
        <a n:href="loadExceptions!" class="ajax btn btn-danger btn-load-exceptions">Load exceptions</a>
        {control errorGrid}
    {/snippet}
{/block}