<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" xml:lang="cs" lang="cs">
<head>
    <meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="content-language" content="en">
	<meta name="language" content="en">
	<meta name="copyright" content="">
	<meta name="author" content="">
	<meta name="robots" content="noindex" />
	<meta name="description" content="{block page_description}{/block}">

	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- end: Mobile Specific -->

	<title>{ifset #title}{include #title} | {/ifset}HotelQuickly.com</title>

	{control css '/bootstrap.css',
				 '/bootstrap-responsive.css'}
	{block css}{/block}

  </head>
<body>

	<!--start: Header -->
	<header>

	</header>
	<!--end: Header-->

	<!--start: Wrapper-->
	<div id="wrapper">

		<!--start: Container -->
    	<div class="container">

			<div class="row">
				<div class="span12" style="margin-top: 20px;">
					<h1>{block header_title}{/block}</h2>
				</div>
			</div>

			{block content}{/block}

			</div>
		<!--end: Container-->

	</div>
	<!-- end: Wrapper  -->

	<footer>
		<!-- start: Footer -->
		<div id="footer">

		</div>
		<!-- end: Footer -->

		<!-- start: Copyright -->
		<div id="copyright">

			<!-- start: Container -->
			<div class="container">

				<div class="span12" style="margin-bottom: 120px;">
					<p>
						&copy; 2013 Hotel Quickly Pte Ltd. All rights reserved.
					</p>
				</div>

			</div>
			<!-- end: Container  -->

		</div>
		<!-- end: Copyright -->
	</footer>
</body>
</html>
